* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aliceblue;
}

header {
    display: flex;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: black; /*change this to black*/
}

header h1 {
    color:black;
    background-color: rgb(10, 184, 237);
    margin: 5px 5px 5px 0;;
    padding: 5px 10px 5px 45px;
    font-weight: 100;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    align-items: center;
}
header nav ul li {
    list-style: none;
    padding: 10px;
}

header nav ul li a {
    color: rgb(10, 184, 237);
}
header nav ul li a:hover {
   font-weight: bold;
}

.hero {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: 80%;
    height: 250px;
    background-attachment: fixed;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

#hero-tag {
    background-color: rgb(10, 184, 237);
    color: black;
    font-weight: 100;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 40px;
}

.section-headers {
    font-size: 24px;
    font-weight: 100;
    margin: 15px 0;
    padding: 0 15px 0 25px;
    text-align: right;
    border-right: solid 2px rgb(4, 41, 4);
    flex: 0 20%;
}

/* About me section */
#about-me {
    margin-top: 50px;
    padding-top: 50px;
    display: flex;
}
#about-me img {
    width: 30%;
    margin: 10px;
    padding: 10px;
}

#biography {
    align-items: center;
    display: flex;
    flex: 0 80%;
    margin: 15px auto;
}

#biography p {
    margin: 10px;
}

/* Work section */
#work {
    margin-top: 10px;
    display: flex;
}
#work-cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    margin: 15px auto;
    flex: 0 80%;
}

.card {
    position: relative;
    z-index: -1;
    margin: 5px;
    border: 3px solid rgb(10, 184, 237);
}

#studio img {
    max-width: 100%;
    height: 400px;
}

.small-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5px 30px;
    padding: 5px;
}
.small-card img {
    max-width: 300px;
    height: 100%;
}

.studio-card-text {
    position: absolute;
    bottom: 16px;
    left: 0;
    background-color:rgb(10, 184, 237);
    padding: 5px 10px;
}

.small-card-text {
    position: absolute;
    bottom: 6px;
    left: 0;
    background-color:rgb(10, 184, 237);
    padding: 5px 7px;
    
}
#work-cards h3 {
    font-weight: 100;
    font-size: 15px;
}

#work-cards p {
    font-size: 10px;
}

/* Contact section */
#contact {
    margin-top: 10px;
    display: flex;
}

.contact-links {
    display: flex;
    flex: 0 80%;
    justify-content: space-evenly;
    align-items: center;
}

#contact ul {
    display: flex;
    
}

#contact ul li {
    list-style: none;
    padding: 15px 25px;
}

#contact ul li a {
    color: black;
}
#contact ul li a:hover {
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
/* Utitlity classes */
.flex-row {
    display: flex;
}
/* Media Query for desktops and smaller */
@media screen and (max-width: 980px) {
    header {
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
    }
    header h1 {
        padding: 5px;
        width: 100%;
    }

    #about-me {
        margin-top: 10px;
    }
}

/* Media Query for tablets and smaller */
@media screen and (max-width: 768px) {
    .section-headers {
        flex: 1 100%;
        border-bottom: solid 2px rgb(4, 41, 4);
        border-right: 0;
        text-align: center;
        padding: 0;
    }
   
    #about-me, #work, #contact {
        flex-wrap: wrap;
        text-align: center;
    }
    
}

/* Media Query for phones and smaller */
@media screen and (max-width: 575px) {
    .section-headers {
        font-size: 20px;
    }
    #work-cards{
        flex: 0 75%
    }
}